.link-page{
    color: white;
    text-decoration: none;
    margin-right: 4rem;
    font-weight: 400;
    font-size:1.1em;
}

.link-page:hover{
    color: rgb(231, 231, 231);
}

.link-home{
    color: white;
    text-decoration: none;
    margin: 0 5rem 0 7.4rem;
    font-weight: 400;
    font-size:1.1em;
}

.nav-bar{
    background-color: #7c7c7c;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-authorization{
    margin-right: 7.4rem;
}

.user-email-nav{
    margin-right: 7.4rem;
    margin-left: 2rem;
}