.contact-wrap{
    margin-top: 3.4rem;
    padding: 1rem 2rem 2.8rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 97.5vh;
}

.contact-page{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.contact-left-part{
    padding: 8rem 2rem;
    color: white;
}
.contact-map-right-part{
    padding: 2rem;
    height: 30rem;
    width: 50rem;
}

.google-map{
    height: 26rem;
    width: 46rem;
    margin: 0 auto;
    background-color: #B2B2B2;
}