.cam-warap{
    margin-top: 3.4rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.ip-cam-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.ip-cam-box {
    background-color: whitesmoke;
    padding: .3rem .3rem 1rem ;
    margin: 1rem 1rem;
}

.video-js {
    width: 30.2rem;
    height: 17rem;
}